html,body {
  margin: 0;
  padding: 0;
}

a{
  color: grey;
}


/*For header*/
.header{
  background-color: white; 
  padding-top: 15px;
  padding-bottom: 10px;
  height: 40px;
  box-shadow: 1px 2px 8px #888888;
  margin-bottom: 15px;
}

.container{
  padding: 0 10px;
  max-width: 100%;
  margin: 0 auto;
}



/*For main content*/
.main-content{
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  background-color: #fdfdfd;
  padding-bottom: 15%;
}

.heading1{
  font-size: 26px;
  padding-top: 4%;
  padding-bottom: 3%;
  font-family: 'Raleway', sans-serif;
}

.brief-detail{
  background-color: #f9fbfb;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.orderButton{
  border: none;
  color: white;
  padding: 7px 37px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;

  background-color: #f9fbfb;
  color: #30cdbf; 
  font-weight: bold;
  border: 2px solid #30cdbf;
}

/*Grid Details*/
.grid-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5%;
  background-color: #fdfdfd;
}

/*Each Grid Details*/
.grid-item {
  transition: box-shadow .2s;
  background: #fff;
  padding: 5%;
  position: relative;
  background-color: white;
}

.grid-item:hover {
  box-shadow: 0 2px 11px rgba(33,33,33,.2); 
}

.upper-bar{
  display: inline-block;
}

.grid-heading{
  display: inline-block;
  font: 8px;
  margin: 0;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 15px
}

.orderButtonGrid{
  border: none;
  color: white;
  padding: 7px 37px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;

  background-color: white; 
  color: #30cdbf; 
  font-weight: bold;
  border: 2px solid #30cdbf;
}






/*For footer*/
.footer{
  padding-top: 50px;
  background-color: #f1f1f1;
}

.footer-tray{
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-content{
  margin-top: 30px;
  padding-bottom: 50px;
}